<H1> **Introducci칩n a Python para Big Data** : 游꿁

Este notebook te guiar치 a trav칠s de los conceptos fundamentales de Python y la librer칤a Pandas, esenciales para el an치lisis de datos.

<H3> 1. Primeros pasos con Python 游꾚n
Comenzaremos con los conceptos b치sicos de Python, como la creaci칩n de variables y la impresi칩n de valores.

In [ ]:
# Asignaci칩n y tipos de datos
a = 1 + 1
b = "Big Data"

# Imprimir variables en pantalla
print(a)
print(b)

2
Big Data

<H3> 2. Manejo de datos con Pandas 久엪n
Pandas es una librer칤a fundamental para trabajar con datos tabulares. Un DataFrame de Pandas es una estructura similar a una hoja de c치lculo, con filas y columnas.

Crear un DataFrame

Podemos crear un DataFrame a partir de listas de Python.

In [ ]:
# Listas de datos
lista_personajes = ['Luke Skywalker', 'C-3PO', 'Darth Vader']
lista_altura = [172, 167, 202]

# Crear el DataFrame
import pandas as pd

d_star_wars = pd.DataFrame({
    'personaje': lista_personajes,
    'altura': lista_altura
})

# Mostrar el DataFrame y sus tipos de datos
print(d_star_wars)
print("---")
print(d_star_wars.dtypes)

<H3> 3. Cargar y explorar un archivo 九

En el mundo real, los datos rara vez se crean manualmente.
Veamos como cargar un archivo CSV directamente desde una URL.

In [ ]:
#Antes de comenzar tenemos que instalar la librer칤a funpymodeling que me permite conocer informaci칩n estad칤stica de los datos
%%capture
!pip install funpymodeling

In [ ]:
# Cargar un archivo CSV desde una URL
url = 'https://raw.githubusercontent.com/fpineyro/homework-0/master/starwars.csv'
d_star_wars_url = pd.read_csv(url)

# Explorar el DataFrame
# Muestra las primeras 5 filas
print("Primeras 5 filas:")
print(d_star_wars_url.head(7))

# Muestra el n칰mero de filas y columnas (filas, columnas)
print("\nDimensiones del DataFrame:")
print(d_star_wars_url.shape)

# Muestra un resumen estad칤stico de las variables
# 춰Aseg칰rate de instalar esta librer칤a antes!
# !pip install funpymodeling
from funpymodeling.exploratory import status
print("\nEstad칤sticas del DataFrame:")
status(d_star_wars_url)

<H3>4. Filtrar y seleccionar datos 久쓮n
Para seleccionar datos espec칤ficos de tu DataFrame, usa loc. Con loc puedes seleccionar filas y columnas por sus nombres o etiquetas.


El formato loc[filas, columnas] te permite seleccionar datos usando las etiquetas de filas y columnas.

[0, :]: El primer valor (0) selecciona la fila con la etiqueta 0. Los dos puntos (:) significan todas las columnas.

[:, 'nombre_columna']: Los dos puntos (:) seleccionan todas las filas. El nombre de la columna selecciona una columna espec칤fica.

4.1. Seleccionar columnas

In [ ]:
# Seleccionar una sola columna
#d_star_wars['personaje']

# Seleccionar m칰ltiples columnas
d_star_wars[['personaje', 'altura']]

4.2. Seleccionar filas

Podemos seleccionar filas bas치ndote en su posici칩n (칤ndice).

Nota: el uso de 0:2 en loc es inclusivo, lo que significa que incluye los 칤ndices 0, 1 y 2.

In [ ]:
# Seleccionar la primera fila
d_star_wars.loc[0, :]

In [ ]:
# Seleccionar las 3 primeras filas
d_star_wars.loc[0:2, :]

4.3. Filtrar con condiciones

Podemos usar una condici칩n para filtrar filas que cumplan con un criterio espec칤fico. Por ejemplo, encontrar todos los personajes cuya altura sea mayor que 200.

In [ ]:
# Crear un filtro (devuelve True/False para cada fila)
filtro_altura = d_star_wars['altura'] > 200

# Aplicar el filtro para obtener solo los registros que cumplen la condici칩n
d_star_wars.loc[filtro_altura, :]

4.4. Reemplazar valores

Podemos combinar el filtrado con la asignaci칩n para cambiar valores espec칤ficos en el DataFrame.

In [ ]:
# Reemplazar la altura de Darth Vader por 185
d_star_wars.loc[d_star_wars['personaje'] == 'Darth Vader', 'altura'] = 185

# Verificar el cambio
print(d_star_wars.loc[d_star_wars['personaje'] == 'Darth Vader', :])

<H3>5. Manejar valores nulos (NaN) 久꾚n
5.1. Los valores faltantes (NaN) son muy comunes. Es crucial saber c칩mo identificarlos y manejarlos.

In [ ]:
# Identificar nulos por columna
print("N칰mero de nulos en cada columna:")
print(d_star_wars_url.isnull().sum())

In [ ]:
d_star_wars_url

In [ ]:
# Reemplazar valores nulos en columnas categ칩ricas
valores_a_rellenar = {'homeworld': 'nulo_world', 'species': 'nulo_species'}

d_star_wars_url.fillna(value=valores_a_rellenar, inplace=True)
print(d_star_wars_url)

In [ ]:
#Vemos cual es el promedio de altura
print(d_star_wars_url['height'].mean())

In [ ]:
# Reemplazar valores nulos en columnas num칠ricas con el promedio
promedio_altura = d_star_wars_url['height'].mean()


d_star_wars_url['height'] = d_star_wars_url['height'].fillna(promedio_altura)
d_star_wars_url

In [ ]:
# Verificar que los nulos fueron reemplazados
status(d_star_wars_url['height'])

5.2. Eliminar registros con valores nulos
A veces, en lugar de reemplazar los valores nulos, lo mejor es eliminar por completo las filas o columnas que los contienen. El m칠todo dropna() de Pandas te permite hacerlo f치cilmente.

Por defecto, dropna() elimina cualquier fila que contenga al menos un valor nulo. Es una forma r치pida de limpiar el conjunto de datos si las filas con valores faltantes no son importantes para tu an치lisis.

In [ ]:
# Eliminar las filas con valores nulos
d_star_wars_url.dropna(inplace=True)
status(d_star_wars_url)

<H3> 6. Crear nuevas columnas 游띎

Puedes crear una nueva columna en un DataFrame y asignarle valores basados en una condici칩n. Es una forma muy poderosa de derivar informaci칩n a partir de los datos existentes.

In [ ]:
# Asignamos True si la altura es > 180, de lo contrario, False
d_star_wars['is_tall'] = d_star_wars['altura'] > 180

# Muestra el DataFrame con la nueva columna
print(d_star_wars)

<H3> 7. Copiar un DataFrame 춸

Cuando realizas cambios en un DataFrame y quieres conservar la versi칩n original, es una buena pr치ctica hacer una copia. Esto te permite manipular la nueva versi칩n sin afectar la original.

In [ ]:
#Hacer una copia del DataFrame
d_star_wars_copy = d_star_wars.copy()

# Ahora puedes trabajar con d_star_wars_copy sin afectar el original
d_star_wars_copy

************************************************************************************

<H2> Ejercicios 游댫

Aqu칤 hay una serie de ejercicios para aplicar lo que aprendiste. 춰No te frustres si te toma tiempo! La pr치ctica es la clave.

<H3> Ejercicio 1. Carga el archivo heart_disease.csv en un DataFrame llamado d_hd. URL: https://raw.githubusercontent.com/fpineyro/homework-0/master/heart_disease.csv

In [ ]:
##Ejercicio 1

# Crear el DataFrame
import pandas as pd

url = 'https://raw.githubusercontent.com/fpineyro/homework-0/master/heart_disease.csv'
d_hd = pd.read_csv(url)

# Mostrar el DataFrame y sus tipos de datos
print(d_hd)

     age  gender  chest_pain  resting_blood_pressure  serum_cholestoral  \
0     63    male           1                     145                233
1     67    male           4                     160                286
2     67    male           4                     120                229
3     37    male           3                     130                250
4     41  female           2                     130                204
..   ...     ...         ...                     ...                ...
298   45    male           1                     110                264
299   68    male           4                     144                193
300   57    male           4                     130                131
301   57  female           2                     130                236
302   38    male           3                     138                175

     fasting_blood_sugar  resting_electro  max_heart_rate  exer_angina  \
0                      1                2             150            0
1                      0                2             108            1
2                      0                2             129            1
3                      0                0             187            0
4                      0                2             172            0
..                   ...              ...             ...          ...
298                    0                0             132            0
299                    1                0             141            0
300                    0                0             115            1
301                    0                2             174            0
302                    0                0             173            0

     oldpeak  slope  num_vessels_flour  thal  heart_disease_severity  \
0        2.3      3                0.0   6.0                       0
1        1.5      2                3.0   3.0                       2
2        2.6      2                2.0   7.0                       1
3        3.5      3                0.0   3.0                       0
4        1.4      1                0.0   3.0                       0
..       ...    ...                ...   ...                     ...
298      1.2      2                0.0   7.0                       1
299      3.4      2                2.0   7.0                       2
300      1.2      2                1.0   7.0                       3
301      0.0      2                1.0   3.0                       1
302      0.0      1                NaN   3.0                       0

     exter_angina has_heart_disease
0               0                no
1               1               yes
2               1               yes
3               0                no
4               0                no
..            ...               ...
298             0               yes
299             0               yes
300             1               yes
301             0               yes
302             0                no

[303 rows x 16 columns]

<H3> Ejercicio 2. Muestra los primeros 5 y los 칰ltimos 5 registros de d_hd.

In [ ]:
##Ejercicio 2
print("Primeras 5 filas:")
print(d_hd.head(5))

print("\nUltimas 5 filas:")
print(d_hd.tail(5))

Primeras 5 filas:
   age  gender  chest_pain  resting_blood_pressure  serum_cholestoral  \
0   63    male           1                     145                233
1   67    male           4                     160                286
2   67    male           4                     120                229
3   37    male           3                     130                250
4   41  female           2                     130                204

   fasting_blood_sugar  resting_electro  max_heart_rate  exer_angina  oldpeak  \
0                    1                2             150            0      2.3
1                    0                2             108            1      1.5
2                    0                2             129            1      2.6
3                    0                0             187            0      3.5
4                    0                2             172            0      1.4

   slope  num_vessels_flour  thal  heart_disease_severity  exter_angina  \
0      3                0.0   6.0                       0             0
1      2                3.0   3.0                       2             1
2      2                2.0   7.0                       1             1
3      3                0.0   3.0                       0             0
4      1                0.0   3.0                       0             0

  has_heart_disease
0                no
1               yes
2               yes
3                no
4                no

Ultimas 5 filas:
     age  gender  chest_pain  resting_blood_pressure  serum_cholestoral  \
298   45    male           1                     110                264
299   68    male           4                     144                193
300   57    male           4                     130                131
301   57  female           2                     130                236
302   38    male           3                     138                175

     fasting_blood_sugar  resting_electro  max_heart_rate  exer_angina  \
298                    0                0             132            0
299                    1                0             141            0
300                    0                0             115            1
301                    0                2             174            0
302                    0                0             173            0

     oldpeak  slope  num_vessels_flour  thal  heart_disease_severity  \
298      1.2      2                0.0   7.0                       1
299      3.4      2                2.0   7.0                       2
300      1.2      2                1.0   7.0                       3
301      0.0      2                1.0   3.0                       1
302      0.0      1                NaN   3.0                       0

     exter_angina has_heart_disease
298             0               yes
299             0               yes
300             1               yes
301             0               yes
302             0                no

<H3> Ejercicio 3. Selecciona e imprime las columnas age y has_heart_disease.

In [ ]:
##Ejercicio 3
print(d_hd[['age', 'has_heart_disease']])

     age has_heart_disease
0     63                no
1     67               yes
2     67               yes
3     37                no
4     41                no
..   ...               ...
298   45               yes
299   68               yes
300   57               yes
301   57               yes
302   38                no

[303 rows x 2 columns]

<H3> Ejercicio 4. Crea un filtro para encontrar todos los registros donde colesterol (serum_cholestoral) sea mayor que 250.

In [ ]:
##Ejercicio 4

filtroReg = d_hd['serum_cholestoral'] > 250
d_hd.loc[filtroReg, :]

,age,gender,chest_pain,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electro,max_heart_rate,exer_angina,oldpeak,slope,num_vessels_flour,thal,heart_disease_severity,exter_angina,has_heart_disease
1,67,male,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2,1,yes
6,62,female,4,140,268,0,2,160,0,3.6,3,2.0,3.0,3,0,yes
7,57,female,4,120,354,0,0,163,1,0.6,1,0.0,3.0,0,1,no
8,63,male,4,130,254,0,2,147,0,1.4,2,1.0,7.0,2,0,yes
11,56,female,2,140,294,0,2,153,0,1.3,2,0.0,3.0,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,57,male,4,110,335,0,0,143,1,3.0,2,1.0,7.0,2,1,yes
281,47,male,3,130,253,0,0,179,0,0.0,1,0.0,3.0,0,0,no
285,58,male,4,114,318,0,1,140,0,4.4,3,3.0,6.0,4,0,yes
291,55,female,2,132,342,0,0,166,0,1.2,1,0.0,3.0,0,0,no
298,45,male,1,110,264,0,0,132,0,1.2,2,0.0,7.0,1,0,yes

<H3> Ejercicio 5. Usa la funci칩n status() para identificar qu칠 variables tienen valores nulos.

In [ ]:
##Ejercicio 5

print("N칰mero de nulos en cada columna:")
print(d_hd.isnull().sum())

N칰mero de nulos en cada columna:
age                       0
gender                    0
chest_pain                0
resting_blood_pressure    0
serum_cholestoral         0
fasting_blood_sugar       0
resting_electro           0
max_heart_rate            0
exer_angina               0
oldpeak                   0
slope                     0
num_vessels_flour         4
thal                      2
heart_disease_severity    0
exter_angina              0
has_heart_disease         0
dtype: int64

<H3> Ejercicio 6. Reemplaza los valores nulos de la columna thal por un valor de 999.

In [ ]:
##Ejercicio 6
d_hd['thal'] = d_hd['thal'].fillna(999)
print(d_hd['thal'].isnull().sum())

0

<H3> Ejercicio 7. Filtrar por m칰ltiples condiciones:

Utiliza el DataFrame d_hd y filtra para encontrar todos los registros de pacientes que tienen m치s de 60 a침os Y un nivel de colesterol (serum_cholestoral) superior a 250.

In [ ]:
##Ejercicio 7
filtro = d_hd[(d_hd['age'] > 60) & (d_hd['serum_cholestoral'] > 250)]
print(filtro.head())

    age  gender  chest_pain  resting_blood_pressure  serum_cholestoral  \
1    67    male           4                     160                286
6    62  female           4                     140                268
8    63    male           4                     130                254
32   64    male           3                     140                335
42   71  female           2                     160                302

    fasting_blood_sugar  resting_electro  max_heart_rate  exer_angina  \
1                     0                2             108            1
6                     0                2             160            0
8                     0                2             147            0
32                    0                0             158            0
42                    0                0             162            0

    oldpeak  slope  num_vessels_flour  thal  heart_disease_severity  \
1       1.5      2                3.0   3.0                       2
6       3.6      3                2.0   3.0                       3
8       1.4      2                1.0   7.0                       2
32      0.0      1                0.0   3.0                       1
42      0.4      1                2.0   3.0                       0

    exter_angina has_heart_disease
1              1               yes
6              0               yes
8              0               yes
32             0               yes
42             0                no

<H3> Ejercicio 8. Reemplazar valores en una columna:

Selecciona la columna slope del DataFrame d_hd. Reemplaza el valor 1 por el string 'ascendente' y el valor 2 por 'descendente'. Muestra el resultado (no necesitas guardarlo en el DataFrame original).

In [ ]:
##Ejercicio 8
nuevacolumna = d_hd['slope'].replace({1: 'ascendente', 2: 'descendente'})
print(nuevacolumna)

0                3
1      descendente
2      descendente
3                3
4       ascendente
          ...
298    descendente
299    descendente
300    descendente
301    descendente
302     ascendente
Name: slope, Length: 303, dtype: object

<H3>Ejercicio 9. Crear una nueva columna:

En el DataFrame d_hd, crea una nueva columna llamada is_healthy. Asigna el valor True si el paciente no tiene enfermedad del coraz칩n (es decir, el valor en heart_disease_severity es 0) y False en caso contrario. Muestra el DataFrame con la nueva columna

In [ ]:
##Ejercicio 9
d_hd['is_healthy'] = d_hd['heart_disease_severity'] == 0
print(d_hd)

     age  gender  chest_pain  resting_blood_pressure  serum_cholestoral  \
0     63    male           1                     145                233
1     67    male           4                     160                286
2     67    male           4                     120                229
3     37    male           3                     130                250
4     41  female           2                     130                204
..   ...     ...         ...                     ...                ...
298   45    male           1                     110                264
299   68    male           4                     144                193
300   57    male           4                     130                131
301   57  female           2                     130                236
302   38    male           3                     138                175

     fasting_blood_sugar  resting_electro  max_heart_rate  exer_angina  \
0                      1                2             150            0
1                      0                2             108            1
2                      0                2             129            1
3                      0                0             187            0
4                      0                2             172            0
..                   ...              ...             ...          ...
298                    0                0             132            0
299                    1                0             141            0
300                    0                0             115            1
301                    0                2             174            0
302                    0                0             173            0

     oldpeak  slope  num_vessels_flour  thal  heart_disease_severity  \
0        2.3      3                0.0   6.0                       0
1        1.5      2                3.0   3.0                       2
2        2.6      2                2.0   7.0                       1
3        3.5      3                0.0   3.0                       0
4        1.4      1                0.0   3.0                       0
..       ...    ...                ...   ...                     ...
298      1.2      2                0.0   7.0                       1
299      3.4      2                2.0   7.0                       2
300      1.2      2                1.0   7.0                       3
301      0.0      2                1.0   3.0                       1
302      0.0      1                NaN   3.0                       0

     exter_angina has_heart_disease  is_healthy
0               0                no        True
1               1               yes       False
2               1               yes       False
3               0                no        True
4               0                no        True
..            ...               ...         ...
298             0               yes       False
299             0               yes       False
300             1               yes       False
301             0               yes       False
302             0                no        True

[303 rows x 17 columns]

<H3> Ejercicio 10. Eliminar registros con nulos:

Crea una copia del DataFrame d_hd llamada d_hd_clean. Usa el m칠todo dropna() para eliminar todos los registros que contengan al menos un valor nulo. Luego, usa status() para verificar que ya no hay valores nulos en d_hd_clean.

In [ ]:
##Ejercicio 10
d_hd_clean = d_hd.dropna()
print("Valores nulos en d_hd_clean:")
print(d_hd_clean.isnull().sum())

Valores nulos en d_hd_clean:
age                       0
gender                    0
chest_pain                0
resting_blood_pressure    0
serum_cholestoral         0
fasting_blood_sugar       0
resting_electro           0
max_heart_rate            0
exer_angina               0
oldpeak                   0
slope                     0
num_vessels_flour         0
thal                      0
heart_disease_severity    0
exter_angina              0
has_heart_disease         0
is_healthy                0
dtype: int64

************************************************************************************